.wrapper {
margin: 0 auto;
}

.title {
font-size: 20px;
text-align: center;
color: brown;
}

::placeholder {
    font-size: 20px;
}


.textarea {
    display: block;
    top: 160px;
    margin: 0 auto;
    width: 70vw;
    height: 200px;
    border: 1px solid #151076;
}

.keyboard {
    width: 70vw;
    margin: 0 auto;
    padding-left: 40px;
    padding-top: 20px;
    background-color: rgb(135, 53, 53);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
    height: 280px;
}


@media (max-width: 1000px) {
.keyboard {
  height: 200px;
}
}

.keyboard .row {
  clear: both;
  width: 100%;
}

@media (max-width: 1000px) {
.keyboard. .row: {
margin: 0 auto;
}

}
  .keyboard-keys {
      text-align: center;
  }

  .k-key {
    height: 45px;
    width: 45px;
    border-radius: 4px;
    border: 0;
    margin: 4px;
    background: rgba(255, 255, 255, 0.2);
    color: whitesmoke;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 1000px) {
  .k-key {
    height: 22.5px;
    width: 22.5px;
    border-radius: 2px;
    border: 0;
    margin: 2px;
    font-size: 0.5rem;
  }
}

.hidden {
    display: none;
}

.k-key:active {
    background: orchid;
    transition: 0.3s;
    border-radius: 30%;
}

.active {
    background: orchid;
}

.k-key:hover {
background: orchid;
}

.row1 .key:nth-child(14) {
    width: 135px;
  }

  .row2 .key:nth-child(1) {
    width: 65px;
  }

  .row2 .key:nth-child(15) {
    width: 65px;
  }

  .row3 .key:nth-child(1) {
    width: 95px;
  }

  .row3 .key:nth-child(13) {
    width: 145px;
  }

  .row4 .key:nth-child(1) {
    width: 120px;
  }

  .row4 .key:nth-child(13) {
    width: 120px;
  }

  .row5 .key:nth-child(1) {
    width: 65px;
  }

  .row5 .key:nth-child(2) {
    width: 65px;
  }

  .row5 .key:nth-child(3) {
    width: 65px;
  }

  .row5 .key:nth-child(4) {
    width: 310px;
  }

  .row5 .key:nth-child(5) {
    width: 65px;
  }

  .row5 .key:nth-child(9) {
    width: 65px;
  }

  @media (max-width: 1000px) {


    .row1 .key:nth-child(14) {
      width: 67.5px;
    }

    .row2 .key:nth-child(1) {
      width: 32.5px;
    }

    .row2 .key:nth-child(15) {
      width: 32.5px;
    }

    .row3 .key:nth-child(1) {
      width: 47.5px;
    }

    .row3 .key:nth-child(13) {
      width: 72.5px;
    }

    .row4 .key:nth-child(1) {
      width: 60px;
    }

    .row4 .key:nth-child(13) {
      width: 60px;
    }

    .row5 .key:nth-child(1) {
      width: 32.5px;
    }

    .row5 .key:nth-child(2) {
      width: 32.5px;
    }

    .row5 .key:nth-child(3) {
      width: 32.5px;
    }

    .row5 .key:nth-child(4) {
      width: 77.5px;
    }

    .row5 .key:nth-child(5) {
      width: 32.5px;
    }

    .row5 .key:nth-child(9) {
      width: 32.5px;
    }
  }